.content{
  display: flex;
  /* border: 1px solid yellowgreen; */
  justify-content: center;
  height: 60vh;
  align-items: center;
}
.left-content{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  max-width: 40%;
}
h1{
  font-weight: var(--fw-bold); letter-spacing: 7px;
}

.heading h1{
  font-size: 55px;
 
}
.price{
  display: flex;
  gap: 1rem;
}

.discounted{
  color: gray;
  font-weight: var(--fw-light);
  text-decoration: line-through;
}
.light-btn{
  background-color: #fff;
  padding: 0.5rem 1.5rem;
  border: none;
  font-weight: var(--fw-medium);
}
.dark-btn{
  background-color: var(--clr-util);
  color: #fff;
  border: none;
  padding: 0.5rem 1.5rem;
}
.right-content{
  flex: 1;
}


@media (max-width:960px) {
  .heading h1{
    font-size: 45px;
  }
  .light-btn,.dark-btn{
    padding: 0.5rem 1.3rem;
    font-size: 12px;
  }
}
@media (max-width:650px) {
  .heading h1{
    font-size: 45px;
  }
  .buttons{
    display: flex;
    flex-direction: column;
  }
}
@media (max-width:590px) {
  .heading h1{
    font-size: 35px;
  }
  .heading p{
    font-size: 14px;
  }
  .left-content h3{
    font-size: 15px;
  }
  .buttons{
    display: flex;
    flex-direction: column;
  }
}
@media (max-width:450px) {
  .content{
    flex-direction: column-reverse;
    margin-top: 3rem;
    max-height: 100%;
  }
  .content img{
    height: 100%;
  }
  .buttons{
    flex-direction: column-reverse;
  }
  
}

